In [1]:
import pandas as pd

df = pd.read_csv('SampleOutput_2021Q1.csv')
df

   GroupName        Date  TotalPredictedAmount
0    Group 1  2021-01-01               1234.56
1    Group 1  2021-01-02             -11111.11
2    Group 1  2021-01-03                  0.00
3    Group 1  2021-01-04                  0.00
4    Group 1  2021-01-05                  0.00
..       ...         ...                   ...
85   Group 1  2021-03-27                  0.00
86   Group 1  2021-03-28                  0.00
87   Group 1  2021-03-29                  0.00
88   Group 1  2021-03-30                  0.00
89   Group 1  2021-03-31                  0.00

[90 rows x 3 columns]